name: Build PyDMX Buildroot OS for RPi4
on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Install dependencies
            run: |
              sudo apt-get update
              sudo apt-get install -y build-essential gcc g++ make libc6-dev git rsync wget cpio unzip python3 protobuf-compiler

          - name: Generate missing OLA protobuf files (RPC + RDM)
            run: |
              # OLA 0.10.8 herunterladen
              wget https://github.com/OpenLightingProject/ola/releases/download/0.10.8/ola-0.10.8.tar.gz
              tar -xzf ola-0.10.8.tar.gz

              # RPC: TestService
              cd ola-0.10.8/common/rpc
              protoc --cpp_out=. TestService.proto
              mkdir -p ../../../package/olad/files/common/rpc
              cp TestService.pb.* ../../../package/olad/files/common/rpc/

              # RDM: Pids
              cd ../rdm
              protoc --cpp_out=. Pids.proto
              mkdir -p ../../../package/olad/files/common/rdm
              cp Pids.pb.* ../../../package/olad/files/common/rdm/

          - name: Clear Output directory
            run: |
              rm -rf output

          - name: Make fake expr for OLAD executable
            run: |
              chmod +x package/olad/fakebin/expr

          - name: Build
            run: |
              make

          - name: Upload System Images
            uses: actions/upload-artifact@v4
            with:
              name: buildroot-images
              path: output/images
